@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #A9D9D0,#F2E7DC);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d0d0d6d;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #027373;
    text-align: center;
    text-shadow: 1px 1px 2px #057a7a;
}
h2{
    color: #038C7F;
}